<header>
  <div class='header space-x'>
    <a href='/' class='header__logo space-x'>
      <%= image_tag 'book_lover', alt: 'Логотип' %>
      <p>Book Store</p>
    </a>

    <nav>
      <a href='#' class='link'>Книги</a>
    </nav>

    <nav class='navigation space-x'>
      <% if @current_user %>
        <div class='row user_info'>
          <div class='icon user_icon'></div>
          <span><%= @current_user %></span>
        </div>
      <% else %>
        <a href='#' class='link'>Вход</a>
        <a href='#' class='link'>Регистрация'</a>
      <% end %>
    </nav>
  </div>
</header>
