<div class="book__cover">
  <%= image_tag "book", alt: "Обложка книги" %>
</div>

<div class="book__info">
  <p class="book__title"><%= book.title %></p>
  <p>Автор: <span><%= book.author.to_s(full: true) %></span></p>
  <p>Жанр: <span><%= book.genre %></span></p>
</div>
