<div id="<%= dom_id book %>">
  <p>
    <strong>Название:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong>Автор:</strong>
    <%= book.author %>
  </p>
  <p>
    <strong>Жанр:</strong>
    <%= book.genre %>
  </p>
</div>
