<p style="color: green"><%= notice %></p>

<% content_for :title do %>
  <title>Book Store: Книги</title>
<% end %>

<div id="books">
  <% @books.each do |book| %>
    <%= render partial: 'book', layout: 'book_layout', locals: { book: book } %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
