<% content_for :title do %>
  <title>Book Store: Книги</title>
<% end %>

<% if @books.blank? %>
  <p>В магазине нет книг :(</p>
<% else %>
  <div id='books'>
    <% @books.each do |book| %>
      <%# Альтернативные варианты рендеринга частичного шаблона книги %>
      <%#= render book %>
      <%#= render 'book', book: book %>
      <%#= render partial: 'book', locals: { book: book } %>
      <%#= render partial: 'books/book', locals: { book: book } %>

      <%# Рендеринг частичного шаблона книги с указанием специального макета %>
      <%= render partial: 'book', layout: 'book_layout', locals: { book: book } %>
    <% end %>
  </div>
<% end %>

<b><%= link_to 'Добавить книгу', { action: :new } %></b>
