.book {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  border-width: 1px;
  border-color: rgb(229 231 235);
}

.book:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.book__cover {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
}

.book__cover > img {
  width: 100px;
  height: 100px;
}

.book__info {
  flex-grow: 1;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(107 114 128);
  font-weight: 400;
}

.book__info > p:not(:first-child) {
  margin-top: 0.5rem;
}

.book__info span {
  color: rgb(55 65 81);
}

.book__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: rgb(0 0 0);
}

.book__title:hover {
  color: rgb(67 56 202);
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  cursor: pointer;
}

.book__edit {
  display: inline-flex;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  border-radius: 0.375rem;
  color: rgb(79 70 229);
  border-width: 1px;
  border-color: rgb(129 140 248);
}

.book__edit:hover {
  color: rgb(67 56 202);
  border-color: rgb(67 56 202);
}
