/*
*= require application
*/

.welcome_container {
	margin: 0 auto;
	padding: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: rgb(67 56 202);
  text-align: center;
  margin-bottom: 4rem;
}

.welcome__logo {
  height: 22rem;
}
